.input-field {
    border-bottom: black solid;
    padding-bottom: 30px;
}

h4#text {
    color: black;
}

strong {
    border-bottom: solid black;
}

h2#title {
    border-bottom: solid black;
    padding-bottom: 10px;
}

h2,
h3 {
    color: blue;
}

h5 {
    font-size: large;
}

body {
    background-color: #e9ebee;
}

img#match-img {
    width: 150px;
}
body {
    background-color: #e9ebee;
}

.jumbotron {
    background-color: white;
}

#btn {
    background-color: #1a2947;
}

h4 {
    color: white;
}

#h1 {
    color: blue;
}

#foot {
    margin-top: -25px;
}